<div>
    <app-header></app-header>
</div>

<div class="header">
    <h2 style="color:#3f51b5">Manage Exam Result
        <button *ngIf="!isstudentLoggedIn" mat-raised-button class="add-button" color="primary" (click)="addExamDetails()">
            <mat-icon>add</mat-icon><span>Add exam Details</span>
        </button>
    </h2>
</div>
<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="rollNo">
        <th mat-header-cell *matHeaderCellDef> Roll No </th>
        <td mat-cell *matCellDef="let row">{{row.rollNo}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let row">{{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef> Class </th>
        <td mat-cell *matCellDef="let row"> {{row.className}} </td>
    </ng-container>

    <ng-container matColumnDef="maths">
        <th mat-header-cell *matHeaderCellDef> Maths </th>
        <td mat-cell *matCellDef="let row"> {{row.maths}} </td>
    </ng-container>

    <ng-container matColumnDef="tamil">
        <th mat-header-cell *matHeaderCellDef> Tamil </th>
        <td mat-cell *matCellDef="let row">{{row.tamil}} </td>
    </ng-container>

    <ng-container matColumnDef="english">
        <th mat-header-cell *matHeaderCellDef> English </th>
        <td mat-cell *matCellDef="let row">{{row.english}} </td>
    </ng-container>

    <ng-container matColumnDef="science">
        <th mat-header-cell *matHeaderCellDef> Science </th>
        <td mat-cell *matCellDef="let row">{{row.science}} </td>
    </ng-container>

    <ng-container matColumnDef="social">
        <th mat-header-cell *matHeaderCellDef> Social Science </th>
        <td mat-cell *matCellDef="let row">{{row.social}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total Marks </th>
        <td mat-cell *matCellDef="let row">{{row.total}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef  [hidden]="isstudentLoggedIn"> Update </th>
        <td mat-cell *matCellDef="let row" [hidden]="isstudentLoggedIn">
            <button mat-icon-button color="accent" (click)="updateStudentDetail(row)">
                <mat-icon class="mat-18">system_update</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef  [hidden]="isstudentLoggedIn"> Delete </th>
        <td mat-cell *matCellDef="let row"  [hidden]="isstudentLoggedIn">
            <button mat-icon-button color="accent" (click)="deleteStudentDetail(row.id)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>