<div class="login"> 
    <div class="login-form-wrapper">
        <div class="login-form">
<div id="login-form">
<div class="title">School Management - Login</div>

<form [formGroup]="form" (ngSubmit)="form.valid && loginUser()">
    <fieldset>
        <br />
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username" formControlName="email">
            <mat-error *ngIf="form.controls['email'].hasError('email')">
                Invalid Username
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('required')">
                Username is required
            </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="form.controls['password'].hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">SIGN IN</button>
    </fieldset>
</form>
</div>
</div>
</div>
</div>